    <section class="contact" id="contact">
        <p>CONTACT</p>
        <h1>Get in Touch with Us</h1>
        <div class="contact-content">
      <div class="contact-info slide-in-left">
        <p>I'm always open to discuss exciting projects and new opportunities. Let's collaborate!</p>
        <div class="contact-details">
          <div class="contact-item">
            <i class="fa-solid fa-envelope"></i>
            <span>cherukurihemakarthik@gmail.com</span>
          </div>
          <div class="contact-item">
            <i class="fa-solid fa-phone"></i>
            <span>+91 8897748612</span>
          </div>
          <div class="contact-item">
            <i class="fa-solid fa-location-dot"></i>
            <span>Chennai,India</span>
          </div>
        </div>

        <div class="social-links">
          <a href="https://github.com/hkcherukuri" class="social-link" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/hemakarthik-cherukuri-6aba47364/" class="social-link" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a href="https://wa.me/8897748612" class="social-link" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </div>
      </div>

      <div class="contact-form slide-in-right">
        <form id="contact-form">
          <div class="form-group">
            <input type="text" placeholder="Your Name" required name="user_name">
          </div>
          <div class="form-group">
            <input type="email" placeholder="Your Email" required name="user_email">
          </div>
          <div class="form-group">
            <textarea name="message" placeholder="Your Message" rows="5" required></textarea>
          </div>
          <button type="submit" class="btn-send">Send Message</button>
        </form>
      </div>
    </div>
     </section>