<header class="header-list">
  <div class="div-list">
    <ul class="ul-list">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa-regular fa-house"></i>
        <a routerLink="/">Home</a>
      </li>
      <li routerLinkActive="active">
        <i class="fa-regular fa-address-card"></i>
        <a routerLink="/about">About</a>
      </li>
      <li routerLinkActive="active">
        <i class="fa-regular fa-folder-open"></i>
        <a routerLink="/projects">Projects</a>
      </li>
      <li routerLinkActive="active">
        <i class="fa-solid fa-code"></i>
        <a routerLink="/services">Services</a>
      </li>
      <li routerLinkActive="active">
        <i class="fa-regular fa-envelope"></i>
        <a routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
</header>
